fieldset {
  all: unset;
  max-width: 33rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  
  .dropzone {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .5rem;

    .drop-image{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: -10;
      left:35%;
      top: 35%;
      width: 10rem;

      img {
        width: 3rem;
        height: 3rem;
      }

      p {
        color: #A8A29E;
        line-height: 150%;
      }

    }
    
    #certidao{
      width: 100%;
      height: 10rem;
      border: 2px dashed var(--stroke-default);
      border-radius: .5rem;
      color: transparent;
    }

  }
  
  input[type=file]::file-selector-button{
    inset: 0;
    visibility: hidden;
    color: transparent;
  }

  span {
    width: 100%;
  }
  
  #ltermos {
    font: 16px var(--font-family);
    line-height: 150%;
    color: var(--text-secondary);
    font-weight:400;

    strong{
      color: var(--brand-dark);
      font-style: none;
    }
  }

}

button:nth-child(1){
  padding: 12px 24px;
  border: 1px solid var(--text-highlight);
  color: var(--text-highlight);
  background-color: white;
  border-radius: 8px;
  font: 600 16px var(--font-family);
  line-height: 150%;
  cursor: pointer;
}

button:nth-child(2){
  padding: 12px 24px;
  border: 1px solid var(--text-highlight);
  color: white;
  background-color:var(--text-highlight);
  border-radius: 8px;
  font: 600 16px var(--font-family);
  line-height: 150%;
  cursor: pointer;
}
