:root {
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-disabled: #E7E5E4;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  --semantic-error: #DC2626;

  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A6;

  --font-family: 'Poppins' , sans-serif;
 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background: var(--surface-primary);
  padding: 64px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 656px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

label {
  font: 14px var(--font-family);
  line-height: 140%;
  color: var(--text-secondary);
  font-weight:400;
}

.input-max-width {
    padding: 12px 16px;
    border: 1px solid var(--stroke-default);
    /* border: 4px solid var(--surface-secondary);*/
    border-radius: 8px;
    width: 100%;
}

.input-70-width{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
}

.width-50{
  width: 50%;
}

.width-100 {
  width: 100%;
  justify-content: flex-end;
  gap:16px;
  padding-top: 16px;
}

.bg-disabled {
  background-color: var(--surface-disabled);
}

.flex{
  display: flex;
}

.column {
  flex-direction: column;
}

.gap-4 {
  gap: 4px;
}

.gap-24 {
  gap: 24px;
}

.gap-20 {
  gap: 20px;
}

h2{
  font: 600 16px var(--font-family);
  color: var(--text-primary);
  line-height: 125%;

}