header {
  max-width:528px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  div{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h1{
    font: 600 24px var(--font-family);
    line-height: 125%;
    color: var(--text-primary);
  }
  
  p{
    font: 16px var(--font-family);
    color: var(--text-secondary);
    line-height: 125%;

  }
}
